<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="page-title">Article about</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="page-title-translate">記事詳細</p>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="article-title">
        <h2><span><%= @article.article_title %></span></h2>
      </div>
      <div class="article-image">
        <%= attachment_image_tag @article, :article_image, width:"100%", height:"100%" %>
      </div>
      <div class="article-content">
        <%= @article.article_content.html_safe %>
      </div>
      <p>投稿日｜<%= @article.created_at.strftime('%Y/%m/%d') %></p>
      <div class="link-btn2">
        <div class="text-left left-btn">
          <%= link_to '< Back', admin_articles_path, class: "btn btn-primary" %>
          <%= link_to 'Edit >', edit_admin_article_path(@article), class: "btn btn-success" %>
        </div>
        <div class="text-right right-btn">
          <%= link_to 'Destroy', admin_article_path(@article), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>