<div class="animate__animated animate__flipInX">
  <h1 class="page-title">Sign in</h1>
  <p class="page-title-translate">サインイン</p>
</div>

<div class="container sign-in">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="row field">
      <div class="col-2"></div>
      <div class="col-4"><%= f.label :メールアドレス %></div>
      <div class="col-4"><%= f.text_field :email, autofocus: true, autocomplete: "email" %></div>
      <div class="col-2"></div>
    </div>

    <div class="row field">
      <div class="col-2"></div>
      <div class="col-4"><%= f.label :パスワード %></div>
      <div class="col-4"><%= f.password_field :password, autocomplete: "current-password" %></div>
      <div class="col-2"></div>
    </div>

    <div class="row sign-in-actions text-center">
      <div class="col"><%= f.submit "サインイン",class: "btn btn-success btn-lg" %></div>
    </div>
  <% end %>
</div>