<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="page-title text-right">Plants</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="page-title-translate">みんなの投稿</p>
    </div>
  </div>
  <div class="row">
    <% @post_images.each do |post_image| %>
      <div class="col-1"></div>
      <div class="col-8 post-container">
        <div class="text-center">
          <%= attachment_image_tag post_image, :image, width: "100%", height: "100%", fallcack: "no-image2.png" %>
        </div>
        <div class="block-content">
          <%= image_tag('noimage.png', class: "rounded-circle float-left", width: "70px", height: "70px") %>
          <h4 style="display: inline; font-size: 18px;">
            <%= link_to post_image_path(post_image.id) do%>
              <%= post_image.title %>
            <% end %>
          </h4><br>
          <ul class="post-details">
            <li>By <%= post_image.user.name %>　</li>
            <li><i class="far fa-heart"></i> 0　</li>
            <li><a href="#">コメント 0</a></li>
          </ul>
        </div>
      </div>
      <div class="col-3"></div>
    <% end %>
  </div>
</div>