<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="page-title text-right">Plants about</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="page-title-translate"><%= @post_image.user.name %>さんの投稿</p>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <!-- 投稿詳細内容 -->
    <div class="col-10 post_images_container mt-5">
      <div class="text-center">
        <%= attachment_image_tag @post_image, :image , width: "80%", height: "80%" %>
      </div>
      <div class="postimage-title" style="width: 80%; margin: 0 auto;">
        <h2 style="font-weight: bold;"><%= @post_image.title %></h2>
      </div>
      <div class="content">
        <span class="content-title">Content</span>
        <p><%= simple_format(@post_image.content) %></p>
      </div>
      <div class="post-users-content" style="margin: 0 auto; width: 80%;">
          <%= attachment_image_tag @post_image.user, :profile_image, class: "rounded-circle", size: "60x60" ,fallback: "noimage.png" %>
          <ul class="post-details">
            <li>By <%= @post_image.user.name %>　</li>
            <!-- いいね機能 -->
            <li id="favorite_<%= @post_image.id %>">
                <%= render 'favorites/favorite', post_image: @post_image %>
            </li>
            <li>コメント <%= @post_image.comments.count %></li>
          </ul>
      </div>
      <!-- コメント一覧 -->
      <div id="comments_area">
        <%= render 'comments/index', post_image: @post_image %>
      </div>
      <!-- コメント入力 -->
      <% if user_signed_in? %>
        <%= render 'comments/form', comment: @comment, post_image: @post_image %>
      <% end %>
      <!-- 遷移リンクボタン -->
      <div class="link-btn" style="width: 80%; margin: 40px auto 20px;">
        <div class="text-left" style="width: 49%; display: inline-block;">
          <%= link_to '< Back', post_images_path %>
        </div>
        <% if current_user == @post_image.user %>
        <div class="text-right" style="width: 49%; display: inline-block;">
          <%= link_to 'Edit >', edit_post_image_path(@post_image) %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>