<div class="main-visual d-none d-sm-block collapse4">
  <div class="anime">
    <%= image_tag 'planet1.jpg' %>
    <%= image_tag 'planet2.jpg' %>
    <%= image_tag 'planet3.jpg' %>
    <%= image_tag 'planet4.jpg' %>
    <%= image_tag 'planet5.jpg' %>
    <%= image_tag 'planet6.jpg' %>
    <%= image_tag 'planet7.jpg' %>
    <%= image_tag 'planet8.jpg' %>
    <%= image_tag 'planet9.jpg' %>
    <%= image_tag 'planet10.jpg' %>
    <%= image_tag 'planet11.jpg' %>
    <%= image_tag 'planet12.jpg' %>
    <%= image_tag 'planet13.jpg' %>
    <%= image_tag 'planet14.jpg' %>
  </div>
</div>