<div class="main-visual d-none d-sm-block collapse4">
  <div class="anime">
    <%= image_tag 'anime1.jpg' %>
    <%= image_tag 'anime2.jpg' %>
    <%= image_tag 'anime3.jpg' %>
    <%= image_tag 'anime4.jpg' %>
    <%= image_tag 'anime5.jpg' %>
    <%= image_tag 'anime6.jpg' %>
    <%= image_tag 'anime7.jpg' %>
    <%= image_tag 'anime8.jpg' %>
    <%= image_tag 'anime9.jpg' %>
    <%= image_tag 'anime10.jpg' %>
    <%= image_tag 'anime11.jpg' %>
    <%= image_tag 'anime12.jpg' %>
    <%= image_tag 'anime13.jpg' %>
    <%= image_tag 'anime14.jpg' %>
    <%= image_tag 'anime15.jpg' %>
    <%= image_tag 'anime16.jpg' %>
    <%= image_tag 'anime17.jpg' %>
  </div>
</div>