<!DOCTYPE html>
<html>
  <head>
    <title>Planet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/b590762531.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Roboto:400"/>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
    <div class="main-visual d-none d-sm-block">
      <div class="images">
        <%= image_tag 'main-visual-blue.jpg' %>
      </div>
    </div>
  </div>
</div>
</div>

    <div class="wrapper" style="position: relative;">
      <header id="header" style="z-index: 1;">
        <!-- <div class="logo"></div> -->
        <% if user_signed_in? && current_page?(post_images_path) %>
          <div class="btn-container">
            <%= link_to new_post_image_path, class: "btn1" do %>
              <span class="nomal"><i class="fas fa-seedling"></i></span>
              <span class="hover">投稿</i></span>
            <% end %>
          </div>
        <% end %>
        <nav class="nav">
          <ul class="nav-list">
            <li>
              <a data-toggle="collapse" href="#menu" role="button" aria-expanded="false" aria-controls="collapseExample">MENU</a>
            </li>
            <ul class="collapse nav-list" id="menu">
              <!-- 会員がサインインしている時 -->
              <% if user_signed_in? %>
                <li><%= link_to user_path(current_user.id), class: "rounded-pill" do %><i class="far fa-user"></i> My page<% end %></li>
                <li><%= link_to articles_path, class: "rounded-pill" do %><i class="far fa-newspaper"></i> Articles<% end %></li>
                <li><%= link_to post_images_path, class: "rounded-pill" do %><i class="fab fa-pagelines"></i> Plants<% end %></li>
                <li><%= link_to destroy_user_session_path, method: :delete, class: "rounded-pill" do %><i class="fas fa-sign-out-alt"></i> Sign out<% end %></li>
              <!-- 管理者がログインしている時 -->
              <% elsif admin_signed_in? %>
                <li><%= link_to admin_articles_path, class: "rounded-pill" do %><i class="far fa-newspaper"></i> Articles<% end %></li>
                <li><%= link_to admin_post_images_path, class: "rounded-pill" do %><i class="fab fa-pagelines"></i> Plants<% end %></li>
                <li><%= link_to destroy_admin_session_path, method: :delete, class: "rounded-pill" do %><i class="fas fa-sign-out-alt"></i> Sign out<% end %></li>
              <!-- ログインしていない時 -->
              <% else %>
                <li><%= link_to about_path, class: "rounded-pill" do %><i class="fas fa-globe-americas"></i> About this site<% end %></li>
                <li><%= link_to articles_path, class: "rounded-pill" do %><i class="far fa-newspaper"></i> Articles<% end %></li>
                <li><%= link_to post_images_path, class: "rounded-pill" do %><i class="fab fa-pagelines"></i> Plants<% end %> </li>
                <li><%= link_to new_user_session_path, class: "rounded-pill" do %><i class="fas fa-sign-in-alt"></i> Sign in<% end %></li>
                <li><%= link_to new_user_registration_path, class: "rounded-pill" do %><i class="fas fa-user-plus"></i> Sign up<% end %></li>
              <% end %>
            </ul>
          </ul>
        </nav>
      </header><!-- /header -->
      <%= yield %>
    </div>
  </body>
</html>
